/* ### Heatmap settings ############################################################################### */
/* Axis lines */
.axis path,
.axis line {
	fill: none;
	stroke: gray;	    
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.chart rect {
	stroke: white;
}

/* Tooltip */
div.tooltip {
	position: absolute;
	text-align: left;	
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}